.container {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto 1fr;
  padding: 1rem;
}

.commonHeader {
  display: flex;
  align-items: center;

  >a {
    margin-left: auto;
    text-decoration: none;

    svg {
      translate: 0 2px;
      margin-right: 4px;
    }
  }
}