.container {

  main {
    display: flex;
    align-items: center;
  }

  .sonner {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 1.5rem;
    border-radius: 25vw;
    font-size: 1.25rem;
    overflow: clip;

    &.progress {
      background-color: #e2f1fd;
      color: #4ea2f6;
    }

    &.success {
      background-color: #d7f2d8;
      color: #29c14c;
    }

    &.error {
      background-color: #ffdfdc;
      color: #fe3637;
    }

    >span {
      display: flex;
      align-items: center;
    }

    >strong span {
      display: inline-block;
    }
  }
}