.container {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto 1fr;
  padding: 1rem;

  main {
    display: flex;
    align-items: center;

    h2 {
      width: 100%;
      text-align: center
    }
  }
}